/* haeder start */

input{
  outline: none;
  font-size: 16px;
}

.header-dashboard {
  padding: 15px 25px;
  display: flex;
  border-bottom: 1px solid rgb(235, 235, 235);
  justify-content: space-between;
  position: fixed;
  align-items: center;
  background-color: #fff;
  z-index: 900;
  width: 100%;
}

.header-rightSide-dashboard {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.header-rightSide-dashboard > li {
  padding: 0px 10px;
}

.header-rightSide-dashboard > li > a{
  font-size: 18px !important;
  cursor: pointer;
  color: #1f1f1f;
}

.bell-header {
  transition: 0.3s;
  cursor: pointer;
  font-size: 20px !important;
}

.bell-header:hover {
  color: #00b074;
}

.support-link-dashboard {
  transition: 0.3s;
  color: #1f1f1f !important;
}

.support-link-dashboard:hover{
  color: #00b074 !important;
}

.padding-left-right-20 {
  margin: 0 20px;
}

.name-user-logo {
  padding: 10px 15px;
  border-radius: 50%;
  background-color: #00b074;
  color: #FFF;
  font-size: 19px;
  font-weight: 300 !important;
}

.dropdown-menu-dashboard-header{
  position: absolute;
  background: #fff;
  padding: 10px 0;
  border-radius: 15px;
  box-shadow: 0 52px 54px rgb(65 62 101 / 30%);
  top: 80px;
  right: 50px;
  border: .8px solid #ececec;
}

.dropdown-menu-dashboard-header > ul {
  list-style-type: none;
}

.dropdown-menu-dashboard-header > ul > li{
  padding: 10px 30px;
  padding-right: 50px;
  transition: .3s;
}

.dropdown-menu-dashboard-header > ul > li > a{ 
  color: #1f1f1f;
  font-weight: 600;
  text-transform: uppercase;
}

.dropdown-menu-dashboard-header > ul > li:hover {
  background-color: #ececec;
}

.hoverEffect-size-expand {
  padding: 25px 10px !important;
}

/* header ends*/

.main-content {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 280px;
  height: 100vh;
  border-right: 1px solid rgb(235, 235, 235);
  overflow: hidden;
  padding: 20px 0;
  margin-top: 100px;
  position: fixed;
  background-color: #fff;
}

.post-button-holder {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.post-button-holder > a{
  background-color: #00b074; 
  padding: 25px 30px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.sidebar-menu > li > a {
  color: rgb(128, 128, 128);
  padding: 20px 0px;
}

.sidebar-menu > a {
  cursor: pointer;
  padding: 15px 40px;
  transition: 0.3s;
  font-weight: 600;
  border-left: 4px solid transparent;
  font-size: 18px;
  color: rgb(194, 194, 194);
}

.name-list-sidebar {
  color: rgb(87, 87, 87);
  padding-left: 15px;
}

.sidebar-menu > a:hover{
  border-left: 4px solid #00b074;
  color: #00b074;
}

.active-side-bar{
  border-left: 4px solid #00b074 !important;
  color: #00b074 !important;
}

.content {
  width: 100%;
  margin-top: 90px;
  margin-left: 280px;
  min-height: 100vh;
  padding: 60px 40px;
  background-color: #f4f5f8;
}

.information-dashboard-four-tabs {
  width: 100%;
}

.information-dashboard-four-tabs > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.information-dashboard-four-tabs > ul > li {
  padding: 30px 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 24%;
}

.dashboard-listing-box-icon {
  padding: 20px 23px;
  border-radius: 50%;
  margin-right: 30px;
}

.dashboard-listing-box-icon > i {
  font-size: 23px;
}

.header-rightSide-dashboard {
  display: flex;
  list-style-type: none;
}

.header-rightSide-dashboard > li {
  padding: 0px 10px;
}

.checklist-holder {
  width: 220px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checklist-holder > ul {
  list-style-type: none;
}

.checklist-holder > ul > li {
  padding: 12px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 700;
  color: #1f1f1f;
  cursor: pointer;
  transition: 0.3s;
}

.checklist-holder > ul > li:hover {
  color: #00b074;
  transform: scale(1.1);
  box-shadow: 0 13px 16px rgb(0 0 0 / 8%);
}

.active-post-list-steps {
  color: #00b074 !important;
  transform: scale(1.1);
  box-shadow: 0 13px 16px rgb(0 0 0 / 8%);
}

.checklist-holder > ul > li > span {
  padding: 10px;
  font-weight: 700;
  font-weight: 400;
  border-radius: 50%;
  color: #1f1f1f;
}

.jobPosting-form {
  display: flex;
}

.form-right-side {
  padding-left: 30px;
  width: 100%;
  margin-left: 230px;
}

.form-holder-one {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px 40px;
  margin-bottom: 30px !important;
}

.personal-top-one {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.personal-top-one > label {
  color: #1f1f1f;
  font-weight: 500;
  padding-bottom: 5px;
}

.personal-top-one > input {
  padding: 15px;
  width: 100% !important;
  border: 1px solid #bebebe;
  border-radius: 5px;
}

.two-inputs-in-one {
  width: 100%;  
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.go-back-select-post-type {
  text-align: center;
  display: flex;
  justify-content: center;
}

.go-back-select-post-type > button {
  border: 1px solid;
  padding: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background-color: #00b074;
  color: #fff;
  font-size: 20px;
  transition: .3s;
}

.go-back-select-post-type > button:hover {
  width: 100%;
  border-radius: 0;
}

.two-inputs-in-one > div {  
  display: flex;
  width: 100%;
  justify-content: flex-end;
  max-width: 49%;
  padding-right: 0 !important;
}

.two-inputs-in-one > div > input {
  width: 100% !important;
}

.object1 {
  background-color: rgba(71,67,219,.1);
  color: #4743db!important;
}

.object2 {
  background-color: rgba(101,239,227,.1);;
  color: #65efe3!important;
}

.object3 {
  background-color: rgba(250,133,87,.1);
  color: #fa8557!important;
}

.object4 {
  background-color: rgba(247,30,63,.1);
  color: #f71e3f!important;
}

/* option Select 8 */

.option-select-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 20vh)
}

.option-select-3 > p {
  margin-bottom: 20px;
  color: #363636;
}

.option-select-3 > h1 {
  font-size: 35px;
  color: #1f1f1f;
}

.option-select-3 > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-select-3 > ul > li {
  margin: 10px 20px;
  border: 3px solid #dfdfdf;
  padding: 20px 30px;
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.option-select-3 > ul > li:hover {
  box-shadow: 0 52px 54px rgb(65 62 101 / 30%);
}

.option-select-3-selected {
  border: 3px solid #00b074 !important;
}


.option-select-3 > ul > li > h2 {
  color: #00b074;
  font-size: 30px;
}

.option-select-3 > ul > li > p {
  padding-top: 3px;
  color: #363636;
}

.option-select-3 > ul > li > i {
  font-size: 30px;
  padding: 15px 0;
  color: #222222;
}

.option-select-3 > ul > li > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.option-select-3 > ul > li > ul > li {
  padding: 10px 10px; 
  justify-content: space-between;
}


.check-mark-post-listing {
  padding: 3px 5px;
  color: #00b075bb;
  background-color: rgba(0,176,116,.2);
  border-radius: 50%;
  margin-right: 10px;
}

.select-button-post-ad{
  color: #fff;
  margin: 10px 0; 
  width: 500px;
  background-color: #00b074;
  border: none;
  padding: 15px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  transition: .3s;
}

.disabled-selected-button {
  background-color: #afdbcb !important;
  color: #5c5c5c !important;
  cursor: not-allowed !important;
}

.setting-container {
  display: flex;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
}

.setting-option-holder {
  background-color: #fff;
  border-right: 1px solid #d1d1d1;
  padding-bottom: 30px;
  max-width: 280px;
  width: 100%;
  height: 100vh;
}

.setting-lists {
  padding: 0px 10px;
  list-style-type: none;
}

.setting-lists > li {
  padding: 10px 0;
  display: flex;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  align-items: center;
  margin-bottom: 5px;
}

.setting-lists > li:hover {
  background-color: rgba(0,176,116,.1);
}

.setting-list-active {
  background-color: rgba(0,176,116,.1) !important; 
  color: #00b074;
}

.info-setting-single-col > h3{
  margin-bottom: 5px;
  font-weight: 400;
  color: #3a3a3a;
  font-size: 18px;
}

.setting-single-col-icon {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: top;
}

.setting-single-col-icon > i {
  font-size: 16px;
  padding: 0 20px;
}

.setting-content-selected-form {
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  padding: 25px 35px;
}

.setting-header-name-fix {
  border-bottom: 1px solid #bebebe;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.setting-header-name-fix > h2{
  font-size: 16px;
  font-weight: 400;
  color: #363636;
  padding: 20px 20px;
}

.font-size-25 {
  font-size: 30px;
  padding: 10px 20px;
}

.account-setting-form > h1 {
  margin-bottom: 20px;  
  color: #1f1f1f;
}

.profile-section > p{
  margin-bottom: 15px;
}

.profile-section > h3 {
  font-weight: 500;
  letter-spacing: 2px;
  color: #363636;
  padding-bottom: 5px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 100%;
}

.input-fields > label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #3a3a3a;
}


.input-fields > textarea {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #bebebe;
  font-family: 'Inter', sans-serif;
  resize: none;
}

.input-fields > textarea::-webkit-input-placeholder {
  font-weight: 500;
  font: message-box;
}

.flex-input-2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.half-width {
  width: 48%;
}

.save-changes-button {
  width: 100%;
  border: none;
  background-color: #00b074;
  color: #fff;
  padding: 15px 0;
  border-radius: 5px;
  font-size: 18px;
  transition: .3s;
  margin-top: 20px;
  cursor: pointer;
}

.icon-row {
  border-radius: 5px;
  border: 1px solid #bebebe;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.icon-row > input {
  padding: 13px;
  border: none;
  width: 100%;
}

.icon-row > input:read-only {
  cursor: not-allowed;
  background-color: #ececec;
}

.icon-row > i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 13px 15px;
  font-size: 20px;
  background-color: #ececec;
}

.icon-row > select {
  padding: 13px;
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.icon-row > select > option {
  padding: 20px !important;
  background-color: #fff !important;
}

.urgent-remove {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.urgent-remove > ul {
  width: 100%;
  list-style-type: none;
  padding: 0px 20px;
}

.urgent-remove > ul > li {
  width: 100%;
  margin: 10px 0;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(211, 60, 60);
  border-radius: 5px;
  transition: .3s;
  color: rgb(211, 60, 60);
}

.urgent-remove > ul > li:hover{
  background-color: rgb(211, 60, 60);
  color: #fff;
}

@keyframes example {
  from {
    transform: translateX(-100px);
  }
  to {transform: translateX(0px);}
}

.loading-In-Animation {
  animation-name: coming-in;
  animation-duration: .5s;
  transition: .3s;
}

@keyframes coming-in {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.text-area-desgine {
  border: none !important;
}

.text-area-desgine > textarea{
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #bebebe;
  font-family: 'Inter', sans-serif;
  resize: none;
  width: 100%;
  overflow-x: hidden;
}

.word-count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.word-count > p {
  color: #5c5c5c;
  padding: 5px;
}

.tags {
  padding: 5px;
}

.tags > p {
  color: #5d5d5d;
  margin-top: -5px;
  font-size: 15px;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

.tags-input-holder {
  border: 1px solid;
}

.tags-input-holder > button {
  background-color: #00b074;
  color: #fff;
  font-weight: 500;
  border: none;
  font-size: 16px;
  text-align: center;
  padding: 15px 40px;
  width: 50px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.tag-list {
  display: flex;
}

.tag-list > ul {
  list-style: none;
  display: flex;
  padding: 5px 0;
  flex-wrap: wrap;
}

.tag-list > ul > li {
  background-color: #868686;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center ;
  margin: 5px 5px;
  border-radius: 50px;
  padding: 10px 20px;
}

.tag-list > ul > li > i {
  cursor: pointer;
}

.button-continue-post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-continue-post > button {
  border: none;
  background-color: #00b074;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  padding: 15px;
  font-weight: 600;
  transition: .3s;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 20;
  stroke: #00b074;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: #fff;
  stroke-miterlimit: 0;

  box-shadow: inset 0px 0px 0px #00b074;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 2);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px  50px #00b074;
}}

.finshed-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80vh);
  flex-direction: column;
}

.finshed-page > h2 {
  padding: 20px;
}

.point-of-interest-box {  
  width: 80%;
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 52px 54px rgb(65 62 101 / 30%);
}

.point-of-interest-box > ul {
  list-style-type: none;
}

.point-of-interest-box > ul > li {
  color: #363636;
  padding: 10px 20px;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: .4s;
  margin: 5px 0;
}

.point-of-interest-box > ul > li:hover {
  background: #e4e4e4;
}

.point-of-interest-box > ul > li > i {
  padding-right: 10px;
}


.map-container {
  height: 400px;
}

.image-drop-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #e4e4e4;
}

.data-text-file {
  border: 2px dashed;
  width: 100%;
  display: flex;
  padding: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.data-text-file > i {
  color: #00b074;
  font-size: 60px;
}

.data-text-file > p {
  color: #1f1f1f;
  font-weight: 500;
  padding: 20px;
}


.data-text-file > input {
  border: 1px solid;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.button-four-form-bottom {
  display: flex;
  justify-content: space-between;
}

.button-four-form-bottom  > a {
  background-color: #00b074;
  color: #fff;
  margin: 20px 10px;
  cursor: pointer;
  padding: 15px 20px;
  transition: .3s;
}

.button-four-form-bottom  > a:last-child {
  background-color: transparent;
  border: 2px solid #00b074;
  color: #00b074;
}

.listing-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.ad-listing-listing-page {
  background-color: #fff;
  overflow: hidden;
}

.ad-listing-listing-page > table {
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.ad-listing-listing-page > table > tr > td {
  display: flex;
  justify-content: space-between;
}

.single-data {  
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  border-top: 1px solid #b3b3b3;
  justify-content: space-between;
  align-items: center;
}

.header-table{ 
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  color: rgb(85, 85, 85);
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-holder, .image-holder, .expire-holder, .type-holder, .modify-holder, .replies-holder  {
  text-align: left;
}

.title-holder {
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.view-holder {
  max-width: 50px;
  width: 100%;
}

.title-holder > a {
  padding-top: 15px;
  color: #00b074;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.image-holder {
  width: 100%;
  max-width: 110px;
  padding:5px;
}

.expire-holder {
  width: 100%;
  max-width: 140px;
}

.type-holder {
  width: 100%;
  max-width: 100px; 
}

.modify-holder {
  max-width: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.replies-holder {
  max-width: 50px;
  width: 100%;
}

.modify-button > a{ 
  margin-right: 10px;
  color: #fff;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #00b074;
}

.expire-holder {
  display: flex;
  flex-direction: column;
}

.expire-holder > p:first-child {
  font-weight: 600;
}

.expire-holder > p:last-child {
  color: #5c5c5c;
  font-size: 15px;
  padding-top: 5px;
}

.confirmDelete-listing {
  border: 1px solid !important;
  position: fixed;
  z-index: 9999;  
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f52;
}

.confirm-Delete-box {
  background-color: #fff;
  max-width: 350px;
  border-radius: 10px;
  padding: 30px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.confirm-Delete-box > h2 {
  padding-top: 25px;
}

.primary-color {
  color: #f71e3f;
  font-weight: 500;
}

.delete-text {
  color: #757575;
  text-align: center;
  padding: 10px 0;
}

.trash-icon-holder {
  background-color: rgba(0,176,116,.2);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00b074;
  font-size: 50px;
}

.button-clean {
  display: flex;
  width: 100%;
  padding: 15px 0;
}

.urgent-red{
  background: #f71e3f !important;
  color: #fff !important;
  border: 2px solid #f71e3f;
}

.urgent-red:hover {
  background: transparent !important;
  border: 2px solid #f71e3f;
  color: #f71e3f !important;
}

.button-clean > a {
  background-color: #00b074;
  color: #fff;
  margin: 5px;
  width: 100%;
  text-align: center;
  padding: 13px 20px;
  transition: .3s;
  cursor: pointer;
}

.empty-no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.empty-no-result > i {
  background-color: rgba(0,176,116,.2);
  color: #00b074;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 30px;
}

.empty-no-result > h1 {
  padding: 20px 0;
  padding-bottom: 5px;
  color: #5d5d5d;
}

.empty-no-result > p {
  max-width: 600px;
  text-align: center;
}

.empty-no-result > a {
  background-color: #00b074;
  color: #fff;
  padding: 15px 20px;
  margin-top: 20px;
  font-weight: 500;
  transition: .3s;
}

.search-bar-all-listing {
  max-width: 500px;
  width: 100%;
}

.button-active-inactive {
  display: flex;
}

.button-active-inactive > a{
  background-color: #fff;
  color: #757575;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  border: 2px solid transparent;
  border-top: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
  border-bottom: 2px solid #c3c3c3;
  transition: .3s;
  font-weight: 500;
}

.button-active-inactive > a:hover{
  background-color: #ececec;
}

.button-listing-active {
  border-bottom: 2px solid #00b074!important;
  color: #000000 !important;
  font-weight: 500;
}

.button-active-inactive > a > span {
  margin-left: 10px;
  font-size: 14px;
  background: #dfdfdf;
  color: #222222;
  padding: 2px 7px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

@keyframes ldio-bh44xkw0e6g {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.ldio-bh44xkw0e6g div {
  position: absolute;
  width: 25.199999999999996px;
  height: 25.199999999999996px;
  border: 4.02px solid #00b074;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-bh44xkw0e6g div {
  animation: ldio-bh44xkw0e6g 0.7633587786259541s linear infinite;
  margin-top: 35px;
}

.loadingio-spinner-rolling-thiibpdvbmo {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ldio-bh44xkw0e6g {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-bh44xkw0e6g div { box-sizing: content-box; }

.stars-date-combine {
  display: flex;
  align-items: center;
}